<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      This is the default view from ejs. You should not be seeing this page. 
   </body>
</html>
